table, th, td {
  border:1px solid black;
}
th {
  background-color: lightgray;;
}
td {
  background-color: lightblue;
}
table {
  border-collapse: collapse;
  width: 100%;
}
.header {
  display: flex;
  justify-content: center;
}
.multiSelect {
  margin: 5px;
}