table, th, td {
  border:1px solid black;
}
thead {
  background-color: lightgray;;
}
tbody {
  background-color: lightblue;
}
table {
  border-collapse: collapse;
  width: 100%;
}
.header {
  display: flex;
  justify-content: center;
}
.multiSelect {
  margin: 5px;
}
.multiSelectContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.searchSectionContainer {
  display: flex;
  margin: 10px;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}
.inputSearch {
  height: 30px;
  width: 200px;
}